==
use RainLab\Blog\Models\Post as BlogPost;

function onStart(){    

       $this['filteredPosts1'] = BlogPost::whereHas('categories', function($q) {
            $q->whereIn('slug', ['campanha-linha-1']);
        })->get(); 

        $this['filteredPosts2'] = BlogPost::whereHas('categories', function($q) {
            $q->whereIn('slug', ['campanha-linha-2']);
        })->get(); 

}
==
<section id="eventosCampanhas">
	<h2 class="section__title section__title--underlined text-center" data-aos="fade" >Eventos e Campanhas</h2>
	<div id="multi-item-example" class="carousel slide carousel-multi-item carousel-multi-item-2" data-ride="carousel">
	  <!--Controls-->
	 <div class="col-md-2 offset-md-6">
		  <div class="controls-top">
		    <a class="black-text" href="#multi-item-example" data-slide="prev"><i class="fas fa-angle-left fa-3x pr-3"></i></a>
		    <a class="black-text" href="#multi-item-example" data-slide="next"><i class="fas fa-angle-right fa-3x pl-3"></i></a>
		  </div>
	</div>
  <!--/.Controls-->
  <!--Slides-->
  <div class="carousel-inner" role="listbox">
  	<div class="carousel-item active">
	{% for post in filteredPosts1 %}
		{% if loop.index <= 4 %}
      <div class="col-md-3 mb-3">
	  	<div class="card" style="width: 18rem;">
	  	  {% if post.featured_images.count %}
	  	  	{% for image in post.featured_images %}	
		  		<img class="img-fluid"  data-src="{{ image.filename }}" src="{{ image.path }}" alt="{{ image.description }}">
		  	{% endfor %}
		  {% endif %}
		  <div class="card-body">
		    <h5 class="card-title">{{ post.title | raw }}</h5>
		    <p class="card-text">{{ post.summary| raw }}</p>
		    <a href="#" class="btn btn-primary">Saber mais</a>
		  </div>
		</div>  
	  </div>
	  {% endif %}	
	{% endfor %}
	</div> 
    <div class="carousel-item">
	{% for post in filteredPosts2 %}
      <div class="col-md-3 mb-3">
	  	<div class="card" style="width: 18rem;">
	  	  {% if post.featured_images.count %}
	  	  	{% for image in post.featured_images %}	
		  		<img class="img-fluid"  data-src="{{ image.filename }}" src="{{ image.path }}" alt="{{ image.description }}">
		  	{% endfor %}
		  {% endif %}
		  <div class="card-body">
		    <h5 class="card-title">{{ post.title | raw }}</h5>
		    <p class="card-text">{{ post.summary| raw }}</p>
		    <a href="#" class="btn btn-primary">Saber mais</a>
		  </div>
		</div>  
	  </div>	
	{% endfor %}
	</div>
  </div>
</div>
</section>